.eunit
*.o
*.beam
*.plt
*.DS_Store
*.log
erl_crash.dump
.rebar
ebin
error.log
rebar3
_build/
rebar.lock
TEST-*.xml
rebar3.crashdump
test/all_runs.html
test/ct_default.css
test/ct_log_cache
test/ct_run.ct*
test/index.html
test/jquery-latest.js
test/jquery.tablesorter.min.js
test/suite.log.latest.html
test/variables-ct*
.tags_sorted_by_file
.tags