{erl_first_files, []}.
{erl_opts,[fail_on_warning]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, []}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
{require_otp_vsn, "17.*|18.*|19.*"}.