[{kernel,[
    {error_logger, {file, "error.log"}},
    {error_logger_format_depth, 50}
 ]},

 {kakapo,[
    {event_handler, [kakapo_h]}, %% [kakapo_h | log_mf_h]
    {log_dir, "log/"},
    {log_file_size, 5242880}, %% Bytes 5 * 1024 * 1024 ( 5Mb )
    {log_file_max, 100}, %% Max == 256
    {tty, false}
 ]},

 {hawk, [
	{ conn_retry_wait, 10 },
	{ connection_retries, 100 }
 ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

