[
 {kernel,[
    {error_logger, {file, "error.log"}},
    {error_logger_format_depth, 5000}
 ]},

 {hawk, [
	{ conn_retry_wait, 1000 },
	{ connection_retries, 10 }
 ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

